<div>Banner collection</div>
{% schema %}
{
  "name": "Banner Collection",
  "tag": null,
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Banner Collection"
    }
  ]
}
{% endschema %}
