<!-- Banner -->
<section>
  <div class="container">
    <div class="grid grid-cols-2 bg-brand-silver-400 py-4 sm:py-6 md:py-8 lg:py-10 rounded-4xl">
      {% content_for 'blocks' %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner",
  "blocks": [
    {
      "type": "_banner-collection"
    },
    {
      "type": "_banner-content"
    }
  ],
  "max_blocks": 1,
  "settings": [],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}
